wanting to add a type

I wish to add a type for .sha256 extensions (and perhaps other cyphers).  Any thoughts?

Hi! The best way to get new media types included in this library is to register them with the IANA. The community registration procedure is outlined in RFC 6838 section 5. Types registered with the IANA are automatically pulled into this library.

Are these registered types? This database is just an aggregation of the sources outlined in the readme, not really the place for new types to appear. If these are registered types we are missing, can you link to the standards that define these extensions and their MIMEs? Otherwise I suggest working to get them registered in the sources we aggregate, like the IANA.

I hope this helps!

What about aliases that IANA will not accept such as `text/javascript` instead of the now standard `application/javascript`?

For example, PHP which mime type is not yet standard can use multiple mime types. One will eventually make it to the IANA or Apache public domain but what to do with aliases that make sense in a way:

- text/x-php (debian magic detection)
- application/php (following what's been done for javascript, IANA will probably choose this)
- application/x-php
- application/x-httpd-php (already in custom-types.json)

I see that you have a [https://github.com/jshttp/mime-db/blob/master/src/custom-types.json](custom-types.json). I know that it will probably depend on the nature of the addition and that you most likely don't want it to grow too much but can we make pull request to this file or is it reserved?

Thanks a lot!

Types that are not accepted by the IANA can also be added here, yes, in the `custom-types.json` file. Feel free to file a PR! We try to be really careful of what we add here, so we try to limit it to truly existing types that are not official rather than new types people want to just create, if that makes sense.

So if you want to make a PR, please go ahead! Try to explain why you think the type should be in here, for example "this is a very common type on the Internet but is not the IANA official type".