Please add KTX2 as known extension

see https://www.iana.org/assignments/media-types/media-types.xhtml#image

As far as I understood, this will happen sooner or later. Correct?

> The best way to get new media types included in this library is to register them with the IANA. The community registration procedure is outlined in RFC 6838 section 5. Types registered with the IANA are automatically pulled into this library.